body{
    font-family:'Courier New', Courier, monospace;
}

header{
    border: 3px solid red;
}


h1{
    border: 3px solid red;
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;

}


p{

    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    padding: 10px;
}


b{
    background-color: red;
    width: 500px;
    display: inline-block;
    color: yellow
}

.bloco2 {
    border: 3px solid blue;
    margin-top: ;
}